.header {
    text-align: center;
}

#grid-container {
    margin: auto;
    display: flex;
    width: 576px;
    height: 576px;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
    border: 2px solid black;
}

.gridElement {
    box-sizing: border-box;
    width: 36px; 
    height: 36px;
    border: 0px solid black;
    margin: 0px;
    padding: 0px;
    background-color: red;
}

/* Slider CSS */

.slidercontainer {
    display: flex;
    margin: auto;
    width: 576px; 
    justify-content: space-between;
}

.slider {
    margin-left: 25px;
    width: 70%;
}

#slider-value {
    width: 30%;
    font-weight: bold;
}

/* Button choices CSS */

.pen-choices {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 20px;
    width: 576px;
}


.colour-choice {
    width: 30px;
    height: 30px;
}

.colour-description {
    margin: auto;
    padding-right: 10px;
    text-align: center;
}

.choice-container {
    display: flex;
}